.App {
  text-align: center;
}

.jumbotron {
  background-color: #00bbc3 !important;
  border-radius: 0 !important;
  padding: 10px !important;
}

.title {
  color: white;
}

/* Dropdown */
.dropB {
  background-color: #6b787e !important;
  color: #c4dce7 !important;
  text-align-last:center;
}

/* input */
.input-box {
  border: 1px solid #007787 !important;
  min-width: 300px !important;
}

/* apis */
.api-container {
  /* margin-bottom: 30px; */
}

.api {
  width: 45%;
  overflow: hidden;
}

.btn-custom-4 {
  background: #f3f4f8 !important;
}

.btn-custom-3 {
  background: #647076 !important;
  color: #c4dce7;
}

.btn-custom-2 {
  background: #007787 !important;
  margin-left: 15px;
}

.btn-custom {
  background: #00bbc3;
  color: white !important;
  width: 140px !important;
  margin: 5px;
}

.copied {
  top: 1px;
  left: 5px;
}

/* Diff */
.diff-btn {
  margin-bottom: 30px;
}

/* Footer */
.footer {
  height: 100%;
  background: #6b787e;
}

@media screen and (max-width: 348px) {

}

@media screen and (min-width: 786px) {
  .input-box {
    width: 500px !important;
  }
}